@import '../../index.scss';

.feed__wrapper {
  background-color: $colorLightGray;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  padding: $defaultPadding;
  overflow-y: auto;

  .feed__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &:last-child {
      padding-bottom: 22px;
    }
  }
}
