@import '../../index.scss';

.servicePage__container {
  background-color: $colorLightGray;
  display: flex;
  align-items: center;
  justify-content: center;

  .servicePage__inner {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    max-width: 588px;
  }
}
