@import '../index.scss';

.footer {
  .footer__content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: $defaultPadding;
  }
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorWhite;
  background-color: $colorDarkGrey;

  .footer__contactBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 750px;

    & > * {
      font-size: 14px;
    }
  }

  .footer__copyright {
    font-size: 10px;
  }
}
