$colorLightGray: #F9F9F9;
$colorGray: #747474;
$colorRed: #D53C34;
$colorBlue: #0067B1;
$colorBlueHover: #005898;
$colorDarkGrey: #2D343E;
$colorSemiBlack: #1B1B1B;
$colorWhite: #FFFFFF;


.colorLightGray{
	color: $colorLightGray;
}

.colorGray {
	color: $colorGray;
}

.colorRed {
	color: $colorRed;
}

.colorBlue {
	color: $colorBlue;
}

.colorBlueHover {
	color: $colorBlueHover;
}

.colorDarkGrey {
	color: $colorDarkGrey;
}

.colorSemiBlack {
	color: $colorSemiBlack;
}

.colorWhite {
	color: $colorWhite;
}
